@charset "UTF-8";

@font-face {
  font-family: "Sahel VF";
  src: url("../assets/fonts/Sahel/Sahel-VF.ttf") format("truetype"),
    url("../assets/fonts/Sahel/Sahel-VF.woff2") format("woff2");
}

@font-face {
  font-family: "icomoon";
  src: url("../assets/fonts/icons/icomoon.eot?mcbfj1");
  src: url("../assets/fonts/icons/icomoon.eot?mcbfj1#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/icons/icomoon.ttf?mcbfj1") format("truetype"),
    url("../assets/fonts/icons/icomoon.woff?mcbfj1") format("woff"),
    url("../assets/fonts/icons/icomoon.svg?mcbfj1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moon:before {
  content: "\e900";
}
.icon-sun:before {
  content: "\e901";
}

.light {
  font-variation-settings: "wght" 400;
}

.normal {
  font-variation-settings: "wght" 500;
}

.medium {
  font-variation-settings: "wght" 600;
}

.bold {
  font-variation-settings: "wght" 700;
}

.semi-black {
  font-variation-settings: "wght" 800;
}

.black {
  font-variation-settings: "wght" 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.15s, color 0.15s, fill 0.15s;
}

:root {
  --bg-color: #fafafa;
  --color: #353535;
  --color-secondary: #454545;
  --bg-quote: rgba(0, 0, 0, 0.025);
}

html {
  font-size: 16px;
}

body {
  background: var(--bg-color);
  font-family: "Sahel VF", serif;
  direction: rtl;
  width: 100vw !important;
  max-width: 100vw !important;
  overflow-x: hidden !important;
  color: var(--color);
}

body.dark {
  --bg-color: #353535;
  --color: rgba(255, 255, 255, 0.9);
  --color-secondary: rgba(255, 255, 255, 0.8);
  --bg-quote: rgba(255, 255, 255, 0.1);
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

::selection {
  background: #3bb9ff;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

label {
  cursor: pointer;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.holder {
  width: 1024px;
  margin: auto;
}

.toggle-mode {
  float: left;
  width: 10%;
  text-align: left;
  padding: 8px 0 0 8px;
  margin: 18px 0;
  font-size: 1.125rem;
  cursor: pointer;
  transition: opacity 0.15s;
}

.toggle-mode:hover {
  opacity: 0.6;
}

h1 {
  float: right;
  width: calc(90% - 24px);
  font-size: 1.75rem;
  color: var(--color);
  padding: 8px 12px;
  margin: 18px 12px;
  border-right: 6px solid #f8bbd0;
}

p {
  float: right;
  width: 100%;
  text-align: justify;
  margin: 6px 0;
  padding: 12px;
  font-size: 1.125rem;
}

blockquote {
  float: right;
  width: calc(100% - 24px);
  margin: 12px;
  border-right: 8px solid #c2185b;
  background: var(--bg-quote);
  padding: 12px;
}

blockquote span {
  float: right;
  width: 10%;
  text-align: center;
  color: var(--color);
  font-size: 1.0625rem;
}

blockquote div {
  float: right;
  width: 90%;
  text-align: justify;
  line-height: 2;
  color: var(--color);
  font-size: 1rem;
}

blockquote div b {
  color: var(--color-secondary);
}

a {
  float: right;
  margin: 16px 0;
  font-size: 1rem;
  color: var(--color-secondary);
  transition: color 0.15s;
}

a:hover {
  color: #f06292;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 15px !important;
  }

  .holder {
    width: 100% !important;
    margin: 0 !important;
    padding: 6px 16px !important;
  }

  h1 {
    padding: 8px 12px !important;
    margin: 18px 12px !important;
    border-width: 6px !important;
  }

  p {
    width: 100% !important;
    margin: 6px 0 !important;
    padding: 8px !important;
  }

  blockquote {
    width: calc(100% - 24px) !important;
    margin: 8px 12px !important;
    border-width: 8px !important;
    padding: 12px !important;
  }

  blockquote span {
    width: 15% !important;
  }

  blockquote div {
    width: 85% !important;
  }

  a {
    margin: 12px !important;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 14px !important;
  }

  h1 {
    padding: 8px 12px !important;
    margin: 18px 6px !important;
    border-width: 6px !important;
    font-size: 1.5rem;
  }

  p {
    width: 100% !important;
    margin: 6px 0 !important;
    padding: 8px !important;
  }

  blockquote {
    width: calc(100% - 24px) !important;
    margin: 6px 12px !important;
    border-width: 8px !important;
    padding: 12px !important;
  }

  blockquote span {
    width: 35% !important;
  }

  blockquote div {
    width: 65% !important;
    text-align: right !important;
  }

  a {
    margin: 12px !important;
  }
}

u {
  text-decoration: none !important;
  border-bottom: 1px solid #555555;
  padding-bottom: 0;
}
