@font-face {
    font-family: 'VazirmatnVariable';
    src: url('../assets/fonts/VazirMatn/Vazirmatn[wght].woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@for $i from 1 to 10 {
    .w#{$i * 100} {
        font-variation-settings: "wght" #{$i * 100};
        font-feature-settings: "calt", "tnum" 0;
    }
}


@font-face {
    font-family: 'DontAskToAskIconFont';
    src:  url('../assets/fonts/IconFont/icomoon.eot?5kmibf');
    src:  url('../assets/fonts/IconFont/icomoon.eot?5kmibf#iefix') format('embedded-opentype'),
      url('../assets/fonts/IconFont/icomoon.ttf?5kmibf') format('truetype'),
      url('../assets/fonts/IconFont/icomoon.woff?5kmibf') format('woff'),
      url('../assets/fonts/IconFont/icomoon.svg?5kmibf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
  
[class^="icon-"], [class*=" icon-"] {
    font-family: 'DontAskToAskIconFont' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-DP:before {
    content: "\e900";
  }
  .icon-check:before {
    content: "\e901";
  }
  .icon-figma:before {
    content: "\e902";
  }
  .icon-life-buoy:before {
    content: "\e903";
  }
  .icon-moon:before {
    content: "\e904";
  }
  .icon-star:before {
    content: "\e907";
  }
  .icon-sun:before {
    content: "\e905";
  }
  .icon-x:before {
    content: "\e906";
  }